<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/source/ng-sortable.style.css">
    <link rel="stylesheet" type="text/css" href="/source/ng-sortable.css">
    <link rel="stylesheet" type="text/css" href="app.css">

    <script src="/demo/bower_components/angular/angular.min.js"></script>

    <script src="/source/sortable-main.js"></script>
    <script src="/source/sortable-helper.js"></script>
    <script src="/source/sortable.js"></script>
    <script src="/source/sortable-item.js"></script>
    <script src="/source/sortable-item-handle.js"></script>
  </head>
  <body ng-app="demoApp">
    <div class="rows-container" ng-controller="DemoController">
      <div class="row" ng-repeat="row in rows">
        <div class="row-name" ng-bind="row.name"></div>
        <div class="items-container" as-sortable="sortableOptions" ng-model="row.items">
          <div class="item" as-sortable-item ng-repeat="item in row.items">
            <img class="image" as-sortable-item-handle as-sortable-item-selectable src="image.jpg" width="100"/>
            <div class="item-name" ng-bind="item.name"></div>
          </div>
        </div>
      </div>
    </div>

    <script src="app.js"></script>
  </body>
</html>