.rows-container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 10px;
  outline: 1px solid silver;
}

.row-name{
  flex: 0 0 200px;
}

.items-container {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
}

.items-container:hover {
  overflow-x: scroll;
}

.item {
  padding: 20px;
  margin: 5px;
  outline: 1px solid black;
}

.as-sortable-drag {
  display: flex;
  flex-direction: row;
}

.as-sortable-item, .as-sortable-placeholder {
  display: inline-block!important;
}